.block_products_favorites{
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 10px;
}


@media (max-width: 992px) {
    .block_products_favorites{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .block_products_favorites{
        grid-template-columns: repeat(2, 1fr);
    }
}
