.block_nav_categroy{
    display: flex;
    gap: 30px;   
}

.block_nav_categroy_item{
    margin-top: 65px;
    border-radius: 20px;
    width: 450px;
    padding: 20px 20px 100px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.block_rundom_products{
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    gap: 20px;
    padding: 4px 0;
    scrollbar-width: none;
}

.block_motivation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 40px;
}

.block_rundom_products_bottom{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 25px;
    gap: 20px;
}