.search_block{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: white;
    box-shadow: 0 9px 11px rgba(0, 0, 0, .09);
}

.search_products_block{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px 30px;
}

.left_side_search_block{
    margin-right: 20px;
    width: 20%;
}

.right_side_search_block{
    width: 80%;
}

@media (max-width: 992px) {
    .search_products_block{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .search_products_block{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 30px;

    }
}

@media (max-width: 576px) {
    .search_products_block{
        grid-template-columns: repeat(2, 1fr);
    }

    .left_side_search_block{
        margin-right: 70px;
        width: 15%;
    }

    .right_side_search_block{
        width: 85%;
    }
}